$container-width: 375px;
$container-height: 450px;
$container-bg-color: #b9daaa;
$container-border-width: 10px;
$container-border-radius: 20px;
$snakePlayground-size: $container-width - 75px;
$snake-size: 10px;
$food-size: 10px;
$scorePanel-font: 600 20px "Courier";

